<app-breadcrumb [path]="routes.Messages_EDIT"></app-breadcrumb>

<mat-card class="card">
  <mat-card-title>
    <h4 class="h4">Edit Messages</h4>
  </mat-card-title>

  <mat-card-content [formGroup]="form">
    <div class="input-wrapper">
      <p class="input-title">Text</p>
      <mat-form-field appearance="legacy" class="input-field">
        <textarea matInput formControlName="text" placeholder="Text"></textarea>
      </mat-form-field>
    </div>

    <div class="input-wrapper">
      <p class="input-title">From User</p>
      <div class="input-field">
        <ng-select
          [items]="users"
          formControlName="from_user"
          [multiple]="false"
          (search)="getUsers($event.term)"
          (close)="getUsers('')"
          appendTo="body"
          bindLabel="label"
          bindValue="id"
          placeholder="Please select..."
        >
        </ng-select>
      </div>
    </div>

    <div class="input-wrapper">
      <p class="input-title">Chat Room</p>
      <div class="input-field">
        <ng-select
          [items]="chat_rooms"
          formControlName="chat_room"
          [multiple]="false"
          (search)="getChat_rooms($event.term)"
          (close)="getChat_rooms('')"
          appendTo="body"
          bindLabel="label"
          bindValue="id"
          placeholder="Please select..."
        >
        </ng-select>
      </div>
    </div>

    <div class="input-wrapper">
      <p class="input-title">To User</p>
      <div class="input-field">
        <ng-select
          [items]="users"
          formControlName="to_user"
          [multiple]="false"
          (search)="getUsers($event.term)"
          (close)="getUsers('')"
          appendTo="body"
          bindLabel="label"
          bindValue="id"
          placeholder="Please select..."
        >
        </ng-select>
      </div>
    </div>

    <button (click)="onSave()" mat-flat-button color="success">Save</button>
    <button (click)="onCancel()" mat-flat-button color="default">Cancel</button>
  </mat-card-content>
</mat-card>
