<app-breadcrumb [path]="routes.Messages"></app-breadcrumb>

<div class="filter-form">
  <button mat-flat-button color="success" [routerLink]="routes.Messages_CREATE">
    New
  </button>
  <button
    mat-flat-button
    color="success"
    class="filter-button"
    (click)="addFilter()"
  >
    Add filter
  </button>

  <mat-card class="card" *ngIf="showFilters">
    <app-filter
      [filters]="filters"
      [config]="config"
      (clearFilterConfirmed)="clearFilters()"
      (deleteFilterConfirmed)="delFilter()"
      (submitConfirmed)="submitHandler($event)"
    >
    </app-filter>
  </mat-card>
</div>

<mat-card class="card">
  <mat-card-content class="card-content">
    <a href="{{ redirectToSwagger() }}">API documentation for messages</a>
    <div class="table-title-wrapper">
      <p class="table-title">Messages</p>
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort class="table">
        <!-- Text Column -->

        <ng-container matColumnDef="text">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            mat-sort-header
          >
            Text
          </th>
          <td mat-cell *matCellDef="let row" class="table-body">
            {{ row.text }}
          </td>
        </ng-container>

        <!-- From User Column -->

        <ng-container matColumnDef="from_user">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            mat-sort-header
          >
            From User
          </th>
          <td mat-cell *matCellDef="let row" class="table-body">
            {{
              dataFormatterService.usersOneListFormatter(row.from_user).label
            }}
          </td>
        </ng-container>

        <!-- Chat Room Column -->

        <ng-container matColumnDef="chat_room">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            mat-sort-header
          >
            Chat Room
          </th>
          <td mat-cell *matCellDef="let row" class="table-body">
            {{
              dataFormatterService.chat_roomsOneListFormatter(row.chat_room)
                .label
            }}
          </td>
        </ng-container>

        <!-- To User Column -->

        <ng-container matColumnDef="to_user">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            mat-sort-header
          >
            To User
          </th>
          <td mat-cell *matCellDef="let row" class="table-body">
            {{ dataFormatterService.usersOneListFormatter(row.to_user).label }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="table-header">
            Actions
          </th>
          <td mat-cell *matCellDef="let element" class="table-body">
            <div class="table-buttons-wrapper">
              <button
                mat-flat-button
                color="success"
                class="table-button"
                (click)="edit(element)"
              >
                edit
              </button>
              <button
                mat-flat-button
                color="warn"
                class="table-button"
                (click)="openDeleteModal(element.id)"
              >
                delete
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
