<app-breadcrumb [path]="routes.Chat_rooms"></app-breadcrumb>

<div class="filter-form">
  <button
    mat-flat-button
    color="success"
    [routerLink]="routes.Chat_rooms_CREATE"
  >
    New
  </button>
  <button
    mat-flat-button
    color="success"
    class="filter-button"
    (click)="addFilter()"
  >
    Add filter
  </button>

  <mat-card class="card" *ngIf="showFilters">
    <app-filter
      [filters]="filters"
      [config]="config"
      (clearFilterConfirmed)="clearFilters()"
      (deleteFilterConfirmed)="delFilter()"
      (submitConfirmed)="submitHandler($event)"
    >
    </app-filter>
  </mat-card>
</div>

<mat-card class="card">
  <mat-card-content class="card-content">
    <a href="{{ redirectToSwagger() }}">API documentation for chat_rooms</a>
    <div class="table-title-wrapper">
      <p class="table-title">Chat_rooms</p>
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort class="table">
        <!-- Name Column -->

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            mat-sort-header
          >
            Name
          </th>
          <td mat-cell *matCellDef="let row" class="table-body">
            {{ row.name }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="table-header">
            Actions
          </th>
          <td mat-cell *matCellDef="let element" class="table-body">
            <div class="table-buttons-wrapper">
              <button
                mat-flat-button
                color="success"
                class="table-button"
                (click)="edit(element)"
              >
                edit
              </button>
              <button
                mat-flat-button
                color="warn"
                class="table-button"
                (click)="openDeleteModal(element.id)"
              >
                delete
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
