<mat-list class="sidebar">
  <mat-list-item routerLink="{{ routes.DASHBOARD }}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>

  <mat-list-item routerLink="admin/users" routerLinkActive="active">
    <mat-icon>description</mat-icon> Users
  </mat-list-item>

  <mat-list-item routerLink="admin/messages" routerLinkActive="active">
    <mat-icon>description</mat-icon> Messages
  </mat-list-item>

  <mat-list-item routerLink="admin/chat_rooms" routerLinkActive="active">
    <mat-icon>description</mat-icon> Chat_rooms
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.PROFILE }}" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon> Profile
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.CHANGE_PASSWORD }}">
    <mat-icon>person</mat-icon> Change Password
  </mat-list-item>

  <mat-list-item (click)="redirectToSwagger()" routerLinkActive="active">
    <mat-icon>description</mat-icon> API docs
  </mat-list-item>
</mat-list>
